/* CSS cho phần header chung */
.header a {
  font: 14px/18px Arial,Helvetica,sans-serif;
  color: #333;
  outline: none;
}
.media {
    text-align: center; /* Canh giữa nội dung */
    width: 100%;
  }
  
  .media img {
    width: 100%; /* Để hình ảnh không vượt quá kích thước của phần tử cha */
    height: auto; /* Để tỷ lệ khung hình không bị thay đổi */
    display: block;/* Canh giữa hình ảnh ngang theo chiều ngang */
  }
.header_top {
    background-color:rgb(251, 255, 0);
    padding: 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  
  /* CSS cho phần logo */
  .header-logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff;
  }
  
  .header-logo img {
    width: 345px; /* Điều chỉnh kích thước logo dựa trên kích thước thật của bạn */
    height: auto;
    margin-left: 40px;
    margin-top: 10px;
  }
  
  /* CSS cho phần tìm kiếm */
  
  .header-search {
    display: flex;
    background-color: #fff;
    border-radius: 5px;
    padding: 8px 8px 8px 13px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    background-size: 300px 200px;
  }
  .header-search button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0; /* Xóa khoảng cách giữa nội dung của button và các đường viền */
    outline: none; /* Loại bỏ đường viền khi button được focus */
  }
  .input-search {
    border: none;
    padding: 0;
    width: 150px;
  }
  
  .icon-search img {
    width: 20px; /* Điều chỉnh kích thước biểu tượng tìm kiếm */
    height: 20px;
    border: none;
    background: transparent;
    margin: 0; /* Đặt margin thành 0 */
    padding: 0; /* Đặt padding thành 0 */
    outline: none;
      
  }
  

/* CSS cho phần giỏ hàng */

.header__cart .box-cart {
  position: relative;
  
}
.header_cart {
  border-radius: 4px;
  color: #333;
  font: 16px sans-serif;
  line-height: 16px;
  padding: 8px 10px;
  width: 13%;
  background: rgba(255,172,10,.6);
  outline: none;
  margin-right: 50px;
  margin-top: 15px;
  font-weight: bold;
  }
  
  .box-cart {
    margin: 0;
    padding: 0;
  }
  
  .logo-cart img {
    width: 50px;
    height: 49px;
  }
  

  
  /* CSS cho phần menu chính */
  .header_main {
    margin-top: 0;
    background-color:rgb(251, 255, 0);
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .main-menu ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
    
  }
  
  .main-menu ul li {
    margin-right: 30px;
  }
  
  .main-menu ul li a {
    text-decoration: none;
    color: #333;
    transition: color 0.3s;
    font:  18px Arial, sans-serif;
    font-weight: bold;
  }
  
  .main-menu ul li a.active {
    color: #ff5733; /* Màu của mục đang active */
  }
  
  .main-menu ul li a:hover {
    color: #ff5733; /* Màu khi di chuột qua mục */
  }
  