<header>
    
    <nav class="nav-bar">
        <div class="media">
            <img alt="Big GRQ" src="/assets/images/topbar.webp">
          </div>
          
        <div class="header_top">
            <a href="/" class="header-logo">
                <i class="logo.png">
                    <img src="/assets/images/headlogo.webp" alt="icon">
                </i>
            </a>
            <form action="/search" onsubmit="return suggestSearch(event);" class="header-search">
                <input id="skw" type="text" class="input-search" onkeyup="suggestSearch(event);"
                    placeholder="Bạn tìm gì..." name="key" autocomplete="off" maxlength="100">
                <button type="submit">
                    <i class="icon-search">
                        <img src="/assets/images/loupe.png"alt="search-icon">
                    </i>

                </button>
                <div id="search-result"></div>
            </form>
            <a href="/lich-su-mua-hang" class="name-order">
                Tài khoản &amp; Đơn hàng
            </a>
            <a href="/cart" class="header_cart menu-info">
                <div class="box-cart">
                    <i class="logo-cart">
                        <img src="/assets/images/shopping-cart.png"alt="cart-icon">
                    </i>
                </div>
                <span>Giỏ Hàng</span>
            </a>
            <div class="header__listtop">
                <div class="divitem">
                    <a href="/tin-tuc">24h<br>Công nghệ</a>
                </div>
                <div class="bordercol"></div>
                <div class="divitem">
                    <a href="/hoi-dap">Hỏi Đáp</a>
                </div>
                <div class="bordercol"></div>
                <div class="divitem">
                    <a href="/game-app">Game App</a>
                </div>
            </div>
        </div>
        
        <div class="header_main">
            <ul class="main-menu">
                <ul class="nav">
                    <li class="scroll-to-section"><a href="/" class="active">Home</a></li>
                    <li class="scroll-to-section"><a href="/dtdd">Điện Thoại</a></li>
                    <li class="scroll-to-section"><a href="/laptop">Laptop</a></li>
                    <li class="scroll-to-section"><a href="/tablet">Tablet</a></li>
                    <li class="scroll-to-section"><a href="/dongho">Đồng Hồ</a></li>
                    <li class="scroll-to-section"><a href="/phukien">Phụ Kiện</a></li>
                    <li class="scroll-to-section"><a href="/maycu">Máy cũ giá rẻ</a></li>
                    <li class="scroll-to-section"><a href="/pc">PC, Máy in</a></li>
                </ul>
            </ul>
        </div>
    </nav>
</header>


