.big-banner {
    text-align: center;
  }
  
  .big-banner img {
    max-width: 100%;
  }
  
  /* Kiểu chung cho carousel container */
.carousel {
    display: flex;
  }
  
  /* Đảm bảo rằng carousel và các slide nằm ngang */
.home-slider {
    /*width: 75%; /* Đảm bảo rằng carousel chiếm full chiều rộng của phần tử cha */
    display: flex; /* Sử dụng Flexbox để xếp các slide theo chiều ngang */
    overflow: hidden;/* Ẩn phần nội dung tràn ra ngoài carousel */
  }
  
  .carousel-item {
    flex: 0 0 auto; /* Đảm bảo rằng kích thước của các slide không thay đổi */
    margin-right: 10px; /* Khoảng cách giữa các slide */
    /* min-width: 100%; Đảm bảo rằng mỗi slide chiếm toàn bộ chiều rộng của carousel */
  }
  
  .carousel-item img {
    max-width: 100%; /* Đảm bảo rằng hình ảnh không vượt quá kích thước của slide */
  }
  
  
  /* Kiểu cho các điểm chỉ dẫn (dots) */
  .carousel .slick-dots {
    display: flex;
    justify-content: center; /* Căn giữa các điểm chỉ dẫn */
    list-style: none;
    padding: 0;
  }
  
  .carousel .slick-dots li {
    margin: 0 5px; /* Khoảng cách giữa các điểm chỉ dẫn */
  }
  
  .carousel .slick-dots li button {
    background-color: #ccc; /* Màu nền cho điểm chỉ dẫn không được chọn */
    width: 12px;
    height: 12px;
    border: none;
    border-radius: 50%; /* Để tạo hình tròn */
    cursor: pointer;
    transition: background-color 0.3s; /* Hiệu ứng màu nền thay đổi */
  }
  
  .carousel .slick-dots li.slick-active button {
    background-color: #f00; /* Màu nền cho điểm chỉ dẫn được chọn */
  }
  