

<section>
  <!--Banner to-->
  <div class="big-banner">
    <a aria-label="slide" href="/hot-product">
      <img width="1920" height="450" src="/assets/images/Banner-big.webp" alt="hot-product">
    </a>
  </div>
  <!--END-->
  <!--Slide các sản phẩm-->
  <ngx-slick-carousel class="home-slider" id="owl-home" [config]="slickCarouselConfig">
    <div class="carousel-item" *ngFor="let item of items">
      <a [href]="item.link">
        <img [src]="item.image" alt="{{ item.alt }}" width="600" height="180">
      </a>
    </div>
  </ngx-slick-carousel>
  
  <!--END-->
  <!--Sản phẩm Sale-->
  <ngx-slick-carousel class="carousel" [config]="slideConfig">
    <div class="carousel-item" *ngFor="let product of products">
      <img [src]="product.image" alt="{{ product.name }}">
      <h4>{{ product.name }}</h4>
      <p class="original-price">{{ product.price | currency }}</p>
      <p class="discounted-price">{{ product.discountedPrice | currency }}</p>
    </div>
  </ngx-slick-carousel>
  <!--END-->

  <!--Sản phẩm mới-->
  <!--END-->
</section>