/* CSS cho phần tiêu đề sản phẩm */
.head_box {
  text-align: left;
  padding: 10px;
  background-color: #fff;
  color: #333;
}

/* CSS cho tiêu đề sản phẩm */
.head_box h2 {
  font-size: 24px;
}

/* CSS cho container chứa toàn bộ trang sản phẩm */
.box_main {
  display: flex;
  background-color: white;
  margin: 30px;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* CSS cho phần bên trái chứa hình ảnh sản phẩm */
.box_left {
  flex: 1; /* Chiếm 1/2 chiều rộng của .box_main (50%) */
}

/* CSS cho hình ảnh sản phẩm */
.main_image img {
  max-width: 100%; /* Đảm bảo hình ảnh không vượt quá chiều rộng của box_left */
  height: auto; /* Giữ nguyên tỷ lệ khung hình */
}

/* CSS cho phần bên phải chứa thông tin sản phẩm */
.box_right {
  flex: 1; /* Chiếm 1/2 chiều rộng của .box_main (50%) */
}

/* CSS cho giá sản phẩm */
.product_details p:nth-child(1) {
  font-size: 20px;
  margin: 0 0 10px;
}

/* CSS cho mô tả sản phẩm */
.product_details p:nth-child(2) {
  font-size: 18px;
  margin: 0 0 20px;
}

/* CSS cho nút mua sản phẩm */
.product_details .buy {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
}

.product_details .buy:hover {
  background-color: #0056b3;
}
