<div class="head_box">
  <h2>{{ product.name }}</h2>
</div>


<div class="box_main">
  <div class="box_left">
    <div class="main_image">
      <img [src]="product.imageUrl" alt="{{ product.name }}">
    </div>
  </div>
  <div class="box_right">
    <div class="product_details">
      <div class="price-one">
        <div class="box-price">
                  <p class="box-price-present">${{ product.price }}</p>
        </div>
      </div>
      <p>{{ product.description }}</p>
      <button class="buy">
        <h1>Mua Ngay </h1>
      </button>
    </div>
  </div>
</div>

